language: node_js
node_js:
  - 10.15.1
script:
  - "npm run test"
branches:
  only:
    - master
notifications:
  email: false
os:
  - linux
  - osx
  - windows
install: npm install
deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_AUTH_TOKEN
  app: play-travis
